<nav class="header-bg-img navbar p-0 flex-column navbar-expand-lg bg-body-tertiary">
  <div class="p-0 nav container-fluid transparent align-items-center bg-dark50">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-3 d-flex align-items-center justify-content-center">
        <li class="my-fs-3 nav-item"><a class="nav-link active color2 fw-bolder" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="my-fs-3 nav-item"><a class="nav-link text-light fw-bolder" routerLink="/menu">Menu</a></li>

        <li class="my-fs-3 nav-item"><a class="nav-link text-light fw-bolder" routerLink="/reservation">Prenotazioni</a></li>
        <li class="my-fs-3 nav-item"><a class="nav-link text-light fw-bolder" routerLink="/reservation">Contatti</a></li>
        <li class="my-fs-3 nav-item"><a class="nav-link text-light fw-bolder" routerLink="/backoffice">Backoffice</a></li>
      </ul>

      <div class="px-5 bg-color2 logo d-flex align-items-center "><img
          src="../../../assets/img/logo.png" alt="Hamburgeria logo" width="200px"></div>

      <ul class="navbar-nav me-3 align-items-center justify-content-center">
        <li class="my-fs-3 nav-item2"><a class="nav-link text-light fw-bolder" routerLink="/profile">Accedi</a></li>
        <li class="my-fs-3 nav-item2"><a class="nav-link text-light fw-bolder" routerLink="/profile">Registrati</a></li>
        <li class="my-fs-3 nav-item2 d-flex align-items-center">
          <img src="../../../assets/img/hamburgeria-logo.png" alt="" width="50px" height="50px">
          <p class="nav-link nav-item2 text-light fw-bolder" href="">Mario Rossi</p>
        </li>
      </ul>

    </div>
  </div>

  <div class="d-flex justify-content-center">
    <img class="mt-4" src="../../../assets/img/hamburgeria-logo2.png" alt="" width="500px">
  </div>

  <div class="container justify-content-center">
    <div class="row row-cols-2">
        <div class="cta hover-div me-5 bg-light d-flex flex-column justify-content-center align-items-center">
            <div class="image-icon mb-4 ">
                <img class="hover-image shadowed-image" src="../../../assets/icons/animate/gif/cart.gif"
                    alt="Cart Icon">
            </div>
            <div class="cta-h3 bg-color2">
                <h3 class="fw-bolder text-light fs-6"><a href="">Ordina ora</a></h3>
            </div>
        </div>

        <div class="cta hover-div ms-5 bg-light d-flex flex-column justify-content-center align-items-center">
            <div class="image-icon image-icon-special mb-4">
                <img class="hover-image" src="../../../assets/icons/animate/gif/dining-table.gif"
                    alt="Dining table Icon">
            </div>
            <div class="cta-h3 cta-special bg-color2">
                <h3 class="fw-bolder text-light fs-6"><a href="">Prenota un tavolo</a></h3>
            </div>
        </div>
    </div>
</div>
</nav>