<nav [ngStyle]="{'height': headerHeight}" class="header-bg-img navbar p-0 flex-column navbar-expand-lg bg-body-tertiary">
  <div class="p-0 nav container-fluid transparent align-items-center bg-dark50">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-3 d-flex align-items-center justify-content-center">
        <li class="my-fs-3 nav-item"><a class="nav-link text-light fw-bolder" routerLink="/" routerLinkActive="color2" [routerLinkActiveOptions]="{ exact: true }" aria-current="page">Home</a>
        </li>
        <li class="my-fs-3 nav-item"><a class="nav-link text-light fw-bolder" routerLinkActive="color2" routerLink="/menu/customizeBurger">Menu</a>
        </li>
        <li class="my-fs-3 nav-item"><a class="nav-link text-light fw-bolder" routerLinkActive="color2" routerLink="/reservation">Prenotazioni</a>
        </li>
        <li class="my-fs-3 nav-item"><a class="nav-link text-light fw-bolder" routerLinkActive="color2" routerLink="/chiSiamo">Chi siamo</a>
        </li>
        <li *ngIf="user$?.role == 'OWNER' || user$?.role == 'EMPLOYEE'" class="my-fs-3 nav-item" ngbDropdown>
          <a class="nav-link dropdown-toggle text-light fw-bolder" id="backofficeDropdown" ngbDropdownToggle role="button" aria-expanded="false">
            Backoffice
          </a>
          <ul class="dropdown-menu bg-body-tertiary custom-accordion-body rounded-4" ngbDropdownMenu aria-labelledby="backofficeDropdown">
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/test">Db tabelle</a></li>
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/backoffice-users">Lista Utenti</a></li>
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/backoffice-employees">Lista Impiegati</a></li>
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/backoffice-products">Gestisci Prodotti</a></li>
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/shifts">Turni Impiegati</a></li>
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/calendar">Calendario Turni</a></li>
          </ul>
        </li>
      </ul>

      <div class="px-5 bg-color2 logo d-flex align-items-center">
        <img src="../../../assets/img/logo.png" alt="Hamburgeria logo" width="200px">
      </div>

      <ul class="navbar-nav me-3 align-items-center justify-content-center">
        <li *ngIf="!user$" class="my-fs-3 nav-item2"><a class="nav-link text-light fw-bolder" routerLink="/login">Accedi</a></li>
        <li *ngIf="!user$" class="my-fs-3 nav-item2"><a class="nav-link text-light fw-bolder" routerLink="/register">Registrati</a></li>
        <li *ngIf="user$" class="my-fs-3 nav-item2 d-flex align-items-center" ngbDropdown>
          <div class="nav-link dropdown-toggle text-light fw-bolder d-flex align-items-center" id="profileDropdown" ngbDropdownToggle role="button" aria-expanded="false">
            <img [src]="user$.avatar ? user$.avatar : '../../../assets/img/user.webp'" class="rounded-5 me-2" alt="" width="50px" height="50px">
            <p>{{user$.name}} {{user$.surname}}</p>
            <p class="mx-2"><span>✨</span>{{user$.points}}</p>
          </div>
          <ul class="dropdown-menu bg-body-tertiary custom-accordion-body rounded-4" ngbDropdownMenu aria-labelledby="profileDropdown">
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/userSettings">Impostazioni profilo</a></li>
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/userReservations">Le mie prenotazioni</a></li>
            <li><a class="dropdown-item nav-link2 fw-bold" routerLink="/userOrders">I miei ordini</a></li>
            <li><a class="dropdown-item nav-link2 fw-bold text-danger" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="currentRoute === '/'" class="d-flex justify-content-center">
    <img class="mt-4" src="../../../assets/img/hamburgeria-logo2.png" alt="" width="500px">
  </div>

  <div *ngIf="currentRoute === '/'" class="container justify-content-center">
    <div class="row row-cols-2">
      <div class="cta hover-div me-5 bg-light d-flex flex-column justify-content-center align-items-center">
        <div class="image-icon mb-4 ">
          <img class="hover-image shadowed-image" src="../../../assets/icons/animate/gif/cart.gif" alt="Cart Icon">
        </div>
        <div class="cta-h3 bg-color2">
          <h3 class="fw-bolder text-light fs-6"><a routerLink="/menu/customizeBurger">Ordina ora</a></h3>
        </div>
      </div>

      <div class="cta hover-div ms-5 bg-light d-flex flex-column justify-content-center align-items-center">
        <div class="image-icon image-icon-special mb-4">
          <img class="hover-image" src="../../../assets/icons/animate/gif/dining-table.gif" alt="Dining table Icon">
        </div>
        <div class="cta-h3 cta-special bg-color2">
          <h3 class="fw-bolder text-light fs-6"><a routerLink="/reservation">Prenota un tavolo</a></h3>
        </div>
      </div>
    </div>
  </div>
</nav>
