<div class="container-fluid py-5">
  <div class="container bg-color1 pt-4 rounded-5 pb-4 px-4">
    <h1 class="fw-bold bg-light rounded-5 p-3 fs-1 mb-5">Utenti</h1>
    <div ngbAccordion [closeOthers]="true" class="mt-3">
      <div ngbAccordionItem *ngFor="let customer of customers">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{customer.email}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="row">
              <div class="col-12 mb-2">
                <img *ngIf="customer.avatar" [src]="customer.avatar" alt="Avatar" width="50">
              </div>
              <div class="col-12 mb-2">
                <strong>Nome:</strong> {{customer.name}}
              </div>
              <div class="col-12 mb-2">
                <strong>Cognome:</strong> {{customer.surname}}
              </div>
              <div class="col-12 mb-2">
                <strong>Email:</strong> {{customer.email}}
              </div>
              <div class="col-12 mb-2">
                <strong>Ruolo:</strong> {{customer.role}}
              </div>
              <div class="col-12 mb-2">
                <strong>Data di Creazione:</strong> {{customer.creationDate}}
              </div>
              <div class="col-12 text-end mt-2">
                <button class="btn btn-primary btn-sm" (click)="performAction(customer)">Azione</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination controls -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-4">
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" (click)="changePage(currentPage - 1)" href="javascript:void(0)">Precedente</a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
          <a class="page-link" (click)="changePage(page)" href="javascript:void(0)">{{ page + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
          <a class="page-link" (click)="changePage(currentPage + 1)" href="javascript:void(0)">Successivo</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
