.dropdown-toggle {
  max-width: 150px;
  height: 35px;
}

.remove-button {
  width: 26px;
  height: 28px;
}

.remove-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.scrollable-content {
  overflow-y: auto;
}

.h-67 {
  height: 67%;
}