<div class="d-flex align-items-center">
    <div class="image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/chips.gif" alt="Hamburger Icon">
    </div>

    <div class="my-image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/hamburger.gif" alt="Hamburger Icon">
    </div>

    <div class="my-image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/chicken.gif" alt="Hamburger Icon">
    </div>

    <div class="my-image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/beer.gif" alt="Hamburger Icon">
    </div>

    <div class="my-image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/salad.gif" alt="Hamburger Icon">
    </div>

    <div class="my-image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/dessert.gif" alt="Hamburger Icon">
    </div>

    <div class="my-image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/hotdog.gif" alt="Hamburger Icon">
    </div>

    <div class="my-image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/gluten-free.gif" alt="Hamburger Icon">
    </div>

    <div class="my-image-icon">
        <img class="hover-image" src="../../../assets/icons/animate/gif/sandwich.gif" alt="Hamburger Icon">
    </div>
</div>

<img src="../../../assets/logo.png" alt="">